@model ProyectoFinal.Models.Producto;

<h2>Lista de Productos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Producto</th>
            <th>Precio</th>
            <th>Fecha de Publicación</th>
            <th>Disponibilidad en Inventario</th>
            <th>Video del Videojuego</th>
            <th>Estado del Producto</th>
        </tr>
    </thead>
    <tbody>
        {
            <tr>
                <td>@Model.NombreProducto</td>
                <td>@Model.Precio.ToString("C")</td>
                <td>@Model.FechaPublicacion.ToShortDateString()</td>
                <td>@Model.DisponibilidadInventario</td>
                <td>@Model.VideoJuegoURL</td>
                <td>@Model.EstadoProducto</td>
            </tr>
        }
    </tbody>
</table>